<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/styles.css">
    <title>Búsqueda de Usuarios</title>
</head>
<body>

    <main>
        <usuarios>
            <h1>Usuarios de la startup de Juan Andrés Nuñez</h1>
        </usuarios>
    </main>

    <template id="usuarios-template"> 
        <div>
            <section class="cabecera">
                <slot></slot>
                <input type="search" placeholder="Filtrar usuarios" v-model="busqueda">
            </section>
            <hr>
            <section class="usuarios">
                <usuario :datos="usuario" v-for="usuario in filtrarUsuarios" :key="usuario.correoe"></usuario>
            </section>
        </div>
    </template>
    
    <template id="usuario-template">
        <div class="usuario">
            <img align="left" :src="datos.foto" :alt="datos.nombre">
            <section>
                <h1>{{ datos.nombre }}</h1>
                <small>{{ datos.correoe }}</small>
            </section>
        </div>
    </template>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.4/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.js"></script>
    <script src="js/main.js"></script>
</body>
</html>